<div class="container-fluid card login-container ">
    <form>
        <h3 class="text-center mt-4">Inscription</h3>
        
        <hr>
        <div class="alert alert-danger" role="alert" *ngIf="errosMessages.length">
          <p *ngFor="let msg of errosMessages">{{msg}}</p>
        </div>
        
        <!-- Email input -->
        <div class="row ">
            <div class="col">
                <div class="form-outline mb-2">
                    <label class="form-label" for="form2Example1">Nom</label>
                    <input [(ngModel)]="patientDto.lastname" type="text" name="lastname" class="form-control" />
                  </div>
            </div>
            <div class="col">
                <div class="form-outline mb-2">
                    <label class="form-label" for="form2Example1"> Prénom</label>
                    <input [(ngModel)]="patientDto.firstname" type="text" name="firstname" class="form-control" />
                  </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example1">Email </label>
          <input [(ngModel)]="patientDto.email" type="email" name="email" class="form-control" />
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example2">Password</label>
          <input [(ngModel)]="patientDto.password" type="password" name="password" class="form-control" />
        </div>

        <div class="form-outline mb-2">
          <label class="form-label" for="form2Example2">Tele</label>
          <input [(ngModel)]="patientDto.tel" type="text" name="tel" class="form-control" />
        </div>
        <!--         <div class="form-outline mb-2">
          <label class="form-label" for="form2Example2">Confirm Password</label>
          <input type="password" id="form2Example2" class="form-control" />
        </div> -->

            
        <div class="row">
            <div class=" d-flex justify-content-between">
                <button (click)="register()" type="button" class="btn btn-primary mb-3 ">Sign up</button>
                <div class="text-center">
                <p> have an account? <a class="btn btn-link" (click)="login()">Sign in</a></p>
                </div>
            </div>
        </div>
      </form>
    
</div>